$ox-green: #61a534;
$ox-green-compliant: #44841a;
$dark-green: #0c884a;
$orange: #f16e22;
$red: #e70052;
$burgundy: #630235;
$purple: #53297d;
$pink: #e43989;
$blue: #0b9cda;

$beige: #eaeade;
$deep-red: #ff1d34;
$grey: #545454;
$dark-grey: #333;

$country-wrapper-padding: 75px;
$animation-speed: 400ms;
@import "01-plugins/bourbon";
@import "02-units/__units.scss";



.region.region-two-66-33-first {
	display: block !important;
	width: 100% !important;
}

#interactive {
	//padding-left: $country-wrapper-padding;
	//padding-right: $country-wrapper-padding;

	h2.country-name {
		position: relative;
		margin: 0 0 20px 0;
		border-top: solid 1px #bbb;
		border-bottom: solid 1px #bbb;
		font-size: 32px;
		line-height: 68px;
		text-align: center;

		img {
			max-width: 56px;
			@include position(relative, 8px null null null);
			margin-right: 5px;
		}
	}

	// .country-name-flag {
	// 	display: inline-block;
	// 	@include position(relative, 8px null null null);
	// 	width: 56px;
	// 	margin-right: 5px;
	//
	// 		img {
	// 			max-width: 100%;
	// 		}
	// }

	.map-container {
		position: relative;
		margin-bottom: -7px;
	}

	.lower-content {
		@include clearfix;
		position: relative;
		overflow-x: hidden;
	}
}




@media only screen and (max-width: 1023px) {
	article.interactive {
		padding: 20px;
	}
}


@media only screen and (max-width: 699px) {

	#interactive {
		h2.country-name {
			margin: 10px 0 20px 0;
			font-size: 22px;
			line-height: 60px;
			text-align: left;
			border-top: none;

			// img {
			// 	max-width: 30px;
			// 	margin:0;
			// 	@include position(relative, 3px null null null);
			// }
		}

		.country-name-flag {
			@include position(relative, 3px null null null);
			max-width: 30px;
			margin: 0;
		}

		.map-container {
			margin-bottom: 0;
		}
	}
}
