#mapTooltip {
	width: 200px;
	position: absolute;
	padding: 15px 10px 10px 10px;
	font-size: 12px;
	line-height: 150%;
	background: url('../images/blue-pattern.png') no-repeat -50px -2px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
	display: none;
	pointer-events: none;
	z-index: 901;

	&:after {
		@include size(0 0);
		content: " ";
		position: absolute;
		border: solid transparent;
		pointer-events: none;
		border-width: 6px;
		margin-top: -6px;
	}

	&.left:after {
		right: 100%;
		top: 22px;
		border-right-color: #ffffff;
		border-right-color: rgba(255, 255, 255, 0.95);
	}

	&.right:after {
		left: 100%;
		top: 22px;
		border-left-color: #ffffff;
		border-left-color: rgba(255, 255, 255, 0.95);
	}

	h5 {
		font-size: 16px;
		margin: 0 0 5px 0;
		line-height: 120%;
		color: $blue;
	}

	p, 
	p:first-of-type,
	p:last-of-type {
		margin: 0;
		font-size: 12px;
		line-height: 140%;
	}

	p.more {
		margin-top: 8px;
		color: $ox-green-compliant;
		line-height: 15px;
		font-weight: bold;
		position: relative;
		display: inline-block;

		&:after {
			@include size(0 0);
			content: " ";
			position: absolute;
			border: solid transparent;
			pointer-events: none;
			border-width: 4px;
			margin-top: -4px;
			left: 105%;
			top: 7px;
			border-left-color: $ox-green-compliant;
		}
	}
}




